/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/buttons/ButtonGroup.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.ButtonGroup_group__FENUw {
    display: flex
}
.ButtonGroup_group__FENUw > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(0.25rem * var(--tw-space-x-reverse));
    margin-left: calc(0.25rem * calc(1 - var(--tw-space-x-reverse)))
}
.ButtonGroup_group__space-between__QxBPP {
    width: 100%;
    justify-content: space-between
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/buttons/base/BaseButton.module.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.BaseButton_base__JqLLr {
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms
}
.BaseButton_base__JqLLr:active {
    --tw-scale-x: .95;
    --tw-scale-y: .95;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/buttons/accent/AccentButton.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.AccentButton_accent__u4h2W {
    border-radius: 4px;
    --tw-bg-opacity: 1;
    background-color: rgb(3 7 18 / var(--tw-bg-opacity));
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 22px;
    padding-right: 22px;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    animation-duration: 150ms
}
.AccentButton_accent__u4h2W:hover {
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity));
    background-color: rgb(3 7 18 / 0.6)
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/buttons/default/DefaultButton.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.DefaultButton_default__Ugu6J {
    display: flex;
    justify-content: center;
    border-radius: 4px;
    background-color: rgb(156 163 175 / 0.5);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 22px;
    padding-right: 22px;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    animation-duration: 150ms
}
.DefaultButton_default__Ugu6J:hover {
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity));
    background-color: rgb(156 163 175 / 0.3)
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/buttons/ghost/GhostButton.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.GhostButton_ghost__woBI_ {
    border-radius: 4px;
    background-color: transparent;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 22px;
    padding-right: 22px;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    animation-duration: 150ms
}
.GhostButton_ghost__woBI_:hover {
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity));
    background-color: rgb(156 163 175 / 0.3)
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/buttons/icon/IconButton.module.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.IconButton_icon___f5Dl {
    border-radius: 4px;
    background-color: transparent;
    padding: 5px;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    animation-duration: 150ms
}
.IconButton_icon___f5Dl:hover {
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity));
    background-color: rgb(156 163 175 / 0.3)
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/form/input/wrapper/InputWrapper.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.InputWrapper_wrapper__sm0IR {
    display: inline-flex;
    cursor: text
}
.InputWrapper_wrapper__sm0IR > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(0.5rem * var(--tw-space-x-reverse));
    margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)))
}
.InputWrapper_wrapper__sm0IR {
    border-radius: 6px;
    border-width: 2px;
    border-color: rgb(255 255 255 / 0.5);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(255 255 255 / 0.5);
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms
}
.InputWrapper_wrapper__icon__6XFCP {
    font-size: 0.875rem;
    line-height: 1.25rem
}
.InputWrapper_wrapper__sm0IR:hover {
    --tw-border-opacity: 1;
    border-color: rgb(255 255 255 / var(--tw-border-opacity));
    background-color: rgb(255 255 255 / 0.1)
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/form/input/default/DefaultInput.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.DefaultInput_default__a7cBp {
    display: inline-flex;
    cursor: text
}
.DefaultInput_default__a7cBp > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(0.5rem * var(--tw-space-x-reverse));
    margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)))
}
.DefaultInput_default__a7cBp {
    border-radius: 6px;
    border-width: 2px;
    border-color: rgb(255 255 255 / 0.5);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(255 255 255 / 0.5);
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms
}
.DefaultInput_default__input__IHDs6 {
    background-color: transparent;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    outline: 2px solid transparent;
    outline-offset: 2px
}
.DefaultInput_default__input__IHDs6::placeholder {
    color: rgb(255 255 255 / 0.5)
}
.DefaultInput_default__icon___xDWJ {
    font-size: 0.875rem;
    line-height: 1.25rem
}
.DefaultInput_default__a7cBp:hover {
    --tw-border-opacity: 1;
    border-color: rgb(255 255 255 / var(--tw-border-opacity));
    background-color: rgb(255 255 255 / 0.1)
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/form/input/file/FileInput.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.FileInput_input-wrapper__ipOKx {

    min-width: 200px;

    cursor: pointer;

    align-items: center
}

.FileInput_input-label__GNVyY {

    cursor: pointer;

    color: rgb(255 255 255 / 0.5)
}

.FileInput_input__VjA_M {

    display: none
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/links/base/BaseLink.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.BaseLink_base__OnIdx {
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    text-align: center;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms
}
.BaseLink_base__OnIdx:active {
    --tw-scale-x: .95;
    --tw-scale-y: .95;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/app/courses/components/lesson/LessonButton.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.LessonButton_lesson__PRLcJ {
    gap: 0.75rem
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/app/courses/lesson/[id]/Lesson.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Lesson_page__YOLrY {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    display: block;
    width: 100%;
    max-width: 1200px;
    gap: 1.25rem
}
@media (min-width: 1024px) {
    .Lesson_page__YOLrY {
        display: flex
    }
}
.Lesson_page__YOLrY .Lesson_page__content__0MuxL {
    width: 100%
}
.Lesson_page__YOLrY .Lesson_page__content__0MuxL .Lesson_page__video__dZI15 {
    margin-bottom: 0.5rem;
    width: 100%;
    border-radius: calc(var(--radius) - 2px);
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity))
}
.Lesson_page__YOLrY .Lesson_page__content__0MuxL .Lesson_page__homework__ieF9F {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0.75rem;
    border-radius: calc(var(--radius) - 2px);
    background-color: rgb(255 255 255 / 0.1);
    padding: 1rem
}
@media not all and (min-width: 640px) {
    .Lesson_page__YOLrY .Lesson_page__content__0MuxL .Lesson_page__homework__ieF9F {
        flex-direction: column
    }
}
.Lesson_page__YOLrY .Lesson_page__content__0MuxL .Lesson_page__homework__ieF9F .Lesson_homework__title__kzb60 {
    margin-bottom: 0.25rem;
    font-size: 16px;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
}
.Lesson_page__YOLrY .Lesson_page__content__0MuxL .Lesson_page__homework__ieF9F .Lesson_homework__description__g_ayF {
    color: rgb(255 255 255 / 0.7)
}
@media not all and (min-width: 640px) {
    .Lesson_page__YOLrY .Lesson_page__content__0MuxL .Lesson_page__homework__ieF9F .Lesson_homework__form__LiM_W {
        width: 100%
    }
}
.Lesson_page__YOLrY .Lesson_page__content__0MuxL .Lesson_page__homework__ieF9F .Lesson_homework__form__LiM_W .Lesson_homework__file__kpyvl {
    margin-bottom: 0.25rem;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgb(255 255 255 / 0.7)
}
@media (min-width: 640px) {
    .Lesson_page__YOLrY .Lesson_page__content__0MuxL .Lesson_page__homework__ieF9F .Lesson_homework__form__LiM_W .Lesson_homework__file__kpyvl {
        max-width: 200px
    }
}
.Lesson_page__YOLrY .Lesson_page__content__0MuxL .Lesson_page__homework__ieF9F .Lesson_homework__form__LiM_W .Lesson_homework__input__vFfQ8 {
    margin-bottom: 0.5rem
}
@media not all and (min-width: 640px) {
    .Lesson_page__YOLrY .Lesson_page__content__0MuxL .Lesson_page__homework__ieF9F .Lesson_homework__form__LiM_W .Lesson_homework__input__vFfQ8 {
        width: 100%
    }
}
.Lesson_page__YOLrY .Lesson_page__content__0MuxL .Lesson_page__homework__ieF9F .Lesson_homework__form__LiM_W .Lesson_homework__hand-in__kPaFY {
    margin-top: 0.5rem;
    width: 100%
}
.Lesson_page__YOLrY .Lesson_page__lessons__GMYsA {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 0.5rem
}
@media not all and (min-width: 1024px) {
    .Lesson_page__YOLrY .Lesson_page__lessons__GMYsA {
        margin-top: 1rem
    }
}
@media (min-width: 640px) {
    @media not all and (min-width: 1024px) {
        .Lesson_page__YOLrY .Lesson_page__lessons__GMYsA {
            flex-direction: row
        }
    }
}
@media (min-width: 1024px) {
    .Lesson_page__YOLrY .Lesson_page__lessons__GMYsA {
        max-width: 300px
    }
}
.Lesson_page__YOLrY .Lesson_page__lessons__GMYsA .Lesson_page__title__lbobF {
    margin-bottom: 0px
}
.Lesson_page__YOLrY .Lesson_page__lessons__GMYsA .Lesson_page__description__OOTUS {
    margin-bottom: 1rem;
    color: rgb(255 255 255 / 0.5)
}
.Lesson_page__YOLrY .Lesson_page__lessons__GMYsA .Lesson_lessons__side__2s_s_ {
    display: contents;
    flex-direction: column;
    gap: 0.5rem
}
@media (min-width: 640px) {
    .Lesson_page__YOLrY .Lesson_page__lessons__GMYsA .Lesson_lessons__side__2s_s_ {
        display: flex
    }
}
.Lesson_page__YOLrY .Lesson_page__lessons__GMYsA .Lesson_lessons__side--right__l6HjO {
    width: 100%
}
@media not all and (min-width: 1024px) {
    .Lesson_page__YOLrY .Lesson_page__lessons__GMYsA .Lesson_lessons__side--right__l6HjO {
        max-width: 200px
    }
}
